body {
	background-color: white;
	align-content: center;
}

.top{
	display: flex;
	justify-content: center;
	color: rgb(49, 38, 76);
	font-family: 'Helvetica';
	font-size: 40px;
}

.wardrobe-img{
	margin: auto;
	display: block;
	height: 500px;
}


.center{
	margin-top:75px;
	display: flex;
	justify-content: center;
}

.bot{
	margin-top:50px;
	display: flex;
	justify-content: center;
}

.env-button{
	font-family: 'Tahoma';
	background-color: rgb(204, 202, 189);
	color:rgb(255, 255, 255);
	font-size:35px;
	width:275px;
	height:50px;
	border-radius: 5px;
	border: none;
	text-align: center;
	cursor: pointer;
}

.env-button:hover{
	transition: 0.75s;
	background-color: rgb(188, 186, 175);
}
.center-button{
	font-family: 'Tahoma';
	background-color: rgb(66, 0, 232);
	color:rgb(255, 255, 255);
	font-size:35px;
	width:275px;
	height:50px;
	border-radius: 5px;
	border: none;
	text-align: center;
	cursor: pointer;
	margin-right:30px;
}

.center-button:hover{
	transition: 0.75s;
	background-color: rgb(35, 0, 122);
}